html {
  overflow-y: scroll;
  overflow-x: hidden;
}


body {
	background: #f5f5f5;
}


iframe {
    border: none;
}


.pga_h1 {
    word-wrap: break-word;
}


@font-face {
    font-family: walkway;
    src: url(http://www.pathgroupatl.com/fonts/Walkway_Expand_Black.ttf);
}


.pga_logo_info_text {
    font-family: walkway, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: right;
}


.pga_main_container {
    padding: 2px 2px;
    background: #ffffff;
    border-radius: 10px;
}


.icon-bar {
	background: #008cba;
}

	.icon-bar > *:hover {
		background: #333333;
	}


.top-bar {
	background: #008cba;
}


.pga_pat_res {
    text-decoration: underline;
}


.pga_disclaimer {
    font-size: 90%;
}


.pga_lists {
    margin: 20px 0;
}


.pga_block_grid {
    text-align: center;
}


.pga_footer {
	background: #f5f5f5;
}


.pga_footer_links :hover {
    color: #333333;
}


.pga_footer_address {
    font-family: walkway, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #008cba;
    font-size: 90%;
    color: #f5f5f5;
}
    .pga_footer_address :hover {
        color: white;
    }


.pga_footer_copyright {
    font-size: 75%;
}
